<table class="table movietable">
    <tr>
        <td><h3>Details for {{movie.Title}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Movie Title</td>
        <td>{{movie.Title}}</td>
    </tr>
    <tr>
        <td>Director</td>
        <td>{{movie.Director}}</td>
    </tr>
    <tr>
        <td>Release Year</td>
        <td>{{movie.ReleaseYear}}</td>
    </tr>
    <tr>
        <td>Movie Genre</td>
        <td>{{movie.Genre}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editMovie({id:movie.Id})">Edit</a>
</div>